.HomeStyles{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
}
.HomeStyles h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rebeccapurple;
}
.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}